// email -----------------------------------
.email {
  .offer {
    font-size: 2.5rem;
    font-weight: 300;
    margin: 5px 0;
  }

  .clickAndCopy {
    margin-top: 30px;
    font-size: 3rem;
    font-family: "Crimson Pro", serif;
  }

  .emailAddress {
    font-size: 3rem;
    font-weight: 300;
    cursor: pointer;
    background-color: #864879;
    padding: 0 10px;
    border-radius: 5px;

    &:hover {
      background-color: #8e05c2;
    }
  }
}
