.aboutHeader {
  background-color: var(--aboutHeaderBg);
  color: #e7e7e7;
}

// AboutSkillsList.jsx -------------------------
.skillsList {
  background-color: var(--aboutSkillsListBg);

  .skillsSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 550px;
    gap: 30px;
  }
}
// AboutEducation.jsx --------------------------
.education {
  background-color: var(--aboutEducationBg);

  .major {
    color: #ff9900;
    font-weight: 700;
  }

  .school,
  .department {
    font-size: 1.8rem;
    font-family: "Open Sans", sans-serif;
    color: white;
  }
}

// AboutExerpeince.jsx --------------------------

.experience {
  background-color: var(--aboutExperienceBg);

  .position {
    color: #ff9900;
    font-weight: 700;
  }

  .duty {
    font-weight: 300;
  }

  .company,
  .duty {
    font-size: 1.8rem;
    font-family: "Open Sans", sans-serif;
    color: white;
  }
}

// AboutEducation.jsx & AboutExerpeince.jsx------
.skillsList,
.education,
.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  padding-bottom: 50px;

  .period {
    vertical-align: top;
    min-width: 200px;
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    color: white;
  }

  .title {
    font-size: 6.5rem;
    font-weight: 300;
    margin-top: 10px;
    font-family: "Open Sans", sans-serif;
    color: white;
  }

  .section {
    max-width: 850px;

    table {
      margin: auto;
      width: 100%;

      tr {
        border-bottom: 3px dotted #ffffff79;

        th {
          font-size: 1.6rem;
          font-family: "Open Sans", sans-serif;
          color: white;
        }
      }

      th,
      td,
      div {
        padding: 0 10px;
        line-height: 3.8rem;
      }
    }
  }
}
