.contactHeader {
  background-color: var(--contactHeaderBg);
  color: white;
}

// ContaxtContent.jsx -------------------

.contactContent {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  padding: 50px 0;
  background-color: var(--contacatContentBg);
  color: white;

  // email -----------------------------------
  .email {
    .offer {
      font-size: 2.5rem;
      font-weight: 300;
      margin: 5px 0;
    }

    .sendTo {
      margin-top: 30px;
      font-size: 2.5rem;
      font-family: "Crimson Pro", serif;
    }

    .emailAddress {
      font-size: 3rem;
      font-weight: 300;
      cursor: pointer;
      background-color: #864879;
      padding: 0 10px;
      border-radius: 5px;

      &:hover {
        background-color: #8e05c2;
      }
    }
  }

  // form -----------------------------------
  form {
    label {
      font-size: 2rem;
      font-weight: 400;
      margin-bottom: 2.5px;
    }

    input {
      height: 30px;
      margin-bottom: 10px;
    }

    input,
    textarea {
      font-size: 1.6rem;
      text-indent: 10px;
      border: none;
      border-radius: 5px;
    }

    button {
      font-size: 2rem;
      margin: 15px 0;
      width: 100px;
      border: none;
      border-radius: 5px;
      align-self: center;
      background-color: #864879;
      color: white;

      &:hover {
        background-color: #e9a6a6;
        color: black;
      }
    }
  }

  // for all ------------------------------
  .email,
  form {
    display: flex;
    flex-direction: column;
    margin: 0 45px;

    .title {
      font-size: 5rem;

      span {
        font-size: 3rem;
        font-family: "Crimson Pro", serif;
      }
    }

    .contactImg {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
      background-color: #f9d5a7;

      img {
        width: 6rem;
        height: 6rem;
      }
    }
  }
}
