footer {
  font-size: 1.8rem;
  background-color: var(--footerBg);

  .footerContainer {
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .gridContainer {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .gridRight {
        text-align: left;
        img {
          width: 40px;
        }
      }

      .gridBackToTop {
        text-align: center;

        a {
          display: inline-block;
          margin: auto;
          height: 30px;
          width: 30px;
          text-decoration: none;
          font-size: 1.6rem;
          color: white;
          line-height: 25px;
          background-color: #d4ac2b;
          transition: 0.2s ease-in-out;
          border-radius: 5px;

          &:hover {
            border-radius: 50%;
            transition: 0.2s ease-in-out;
          }
        }
      }

      .gridLeft {
        text-align: right;
        line-height: 40px;
      }
    }
  }
}
