// HomeSection1.js -----------------------------------------------
.homeHeader {
  background: var(--homeSection1Bg);

  .intro {
    max-width: 50%;
    padding: 50px 10px 20px 50px;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;

    p {
      margin: 5px 0;
      line-height: 8.5rem;
    }

    &:first-child {
      margin-top: 20px;
    }

    .skills {
      display: flex;
      justify-content: flex-start;

      .typewriter {
        font-weight: 500;
        font-size: 6rem;
      }
    }
  }
}
// HomeSection2.js -----------------------------------------------
.homeSection2 {
  background-color: var(--homeSecion2Bg);

  .container {
    display: flex;
    justify-content: space-around;
    min-height: 400px;

    img {
      max-width: 35%;
      object-fit: cover;
      align-self: flex-end;
    }

    .briefInto {
      max-width: 50%;
      text-align: left;
      font-size: 2.4rem;
      font-weight: 300;

      margin-top: 20px;
      align-self: flex-start;

      p {
        margin-bottom: 20px;

        span {
          font-weight: 700;
        }
      }
    }
  }
}

// HomeSection3.js ---------------------------------------------------
.homeSection3 {
  background-color: var(--homeSection3Bg);

  color: white;
  font-size: 2rem;
  font-weight: 200;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 5px;

  .container {
    max-width: 50%;
    min-height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;

    .thanks {
      font-size: 5rem;
      font-weight: 700;
    }

    p {
      max-width: 55%;
      text-align: center;
      line-height: 35px;
    }

    .tools {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 20px;

      img {
        height: 50px;
        object-fit: cover;
      }

      p {
        border: 1px solid white;
        padding: 5px 10px;
        font-size: 1.6rem;
      }

      p,
      .imgRadius {
        border-radius: 10px;
      }
    }
  }
}

// HomeFooter.js ---------------------------------------------------
.homeFooter {
  background-color: var(--homeFooterBg);

  padding: 40px 0 15px 0;
  text-align: center;

  .container {
    .logo {
      width: 100px;
    }

    p {
      width: 29%;
      margin: auto;
      line-height: 3rem;
      font-size: 1.8rem;
      margin-bottom: 10px;
    }

    hr {
      margin-top: 15px;
    }

    img {
      margin: 0 10px 5px 10px;
    }

    .copyright {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        color: #575757;
      }

      .backToTop {
        height: 30px;
        width: 30px;
        text-decoration: none;
        font-size: 1.6rem;
        color: white;
        text-align: center;

        line-height: 25px;
        background-color: #d4ac2b;
        border-radius: 5px;
        transition: 0.3s ease-in-out;

        &:hover {
          transition: 0.3s ease-in-out;
          border-radius: 50%;
        }
      }

      span,
      .legalLink {
        font-size: 1.8rem;
      }
    }
  }
}
